html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(60, 60, 60,0.05) 50%, rgba(60, 60, 60,0.05) 100%),linear-gradient(227deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249, 249, 249,0.05) 50%, rgba(249, 249, 249,0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));
}

.ml1 {
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    margin-top: 200px;
}

.ml1 .letters {
    display: inline-block;
    line-height: 1em;
    color: white;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    border-radius: 15px;
}

.container-carousel {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.image {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.spanCarousel {
    margin: auto;
    font-size: 2rem;
    color: white;
}

a {
    width: 100%;
    height: 100%;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.image:nth-child(1){
    background-image: url("./img/justePrix.jpeg");
    transform: rotateY(0deg) translateZ(430px);
}

.image:nth-child(2){
    background-image: url("./img/hangman.jpeg");
    transform: rotateY(60deg) translateZ(430px);
}

.image:nth-child(3){
    background-image: url("./img/csm_Challenge_Calcul_Mental_logo_8af46c0ada.jpeg");
    transform: rotateY(120deg) translateZ(430px);
}

.image:nth-child(4){
    background-image: url("./img/téléchargement.png");
    transform: rotateY(180deg) translateZ(430px);
}

.image:nth-child(5){
    background-image: url("./img/téléchargement.png");
    transform: rotateY(240deg) translateZ(430px);
}

.image:nth-child(6){
    background-image: url("./img/téléchargement.png");
    transform: rotateY(300deg) translateZ(430px);
}