body {
    margin: 0;
    padding: 0;
    background-color: rgba(1, 1, 1, 0.865);
    height: 100vh;
    margin-top: 25%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerOne {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

h1 {
    color: white;
}

#startGame {
    height: 100px;
    border-radius: 30px;
    background-color: rgb(172, 134, 21)
}

#userPropal{
    height: 40px;
    border-radius: 15px;
}

#checkPropal {
    height: 40px;
    width: 40px;
    background-color: rgb(172, 134, 21);
    border-radius: 15px;
}

#resultDiv {
    margin-top: 50px;
    font-size: 30px;
    color: white;
}

.reboursDiv {
    transition: 0.2s;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reboursDiv.cool {
    background-color: green;
}

.reboursDiv.warning {
    background-color: orange;
}

.reboursDiv.danger {
    background-color: red;
    animation: suspens 1s infinite;
}

#containerTwo {
    display: none;
}

@keyframes suspens {
    0%, 100% {
        transform: rotate(0deg);
        font-size: 15px;
    }
    25% {
        transform: rotate(-25deg);
        font-size: 18px;
    }
    50% {
        transform: rotate(0deg);
        font-size: 18px;
    }
    75% {
        transform: rotate(25deg);
        font-size: 18px;
    }
}